* {
    margin: 0;
    padding: 0;
}
.slideshow {
    height :100%;
	width : 33%;
    z-index: 0

}
#slidshow {
    position: relative;
    margin-left: 100px;
    width: 950px;
    height: 300px;
}
#placeholder {
    background-color: white;
    width: 300px;
    height: 100%;
    display: inline-block;
}

#makeMyMistakesDissaper1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: white;
    height: 300px;
    width: 304px;
}

#makeMyMistakesDissaper2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10000;
    background-color: white;
    height: 300px;
    width: 332px;
}
