main {
    min-height:300px;
    border: 1px solid #000000;
    margin: auto;
}
#teksther {
    min-height: 300px;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    background-color: transparent;
    border-style: none;
}
#teksther:focus {
    outline:0;
}
.boks {
	width:50px;
	height:50px;
	border:1px solid;
}

aside {
    width: 200px;
    height: 400px;
    float: left;
    border: 1px solid #000000;
}
header {
    height: 100px;
    border: 1px solid #000000;
    margin: auto;
}
#logoFelt {
    width: 20%;
    height: 100px;
    float: left;
    background-color: #0000ff;
}
#tittelFelt {
    float: right;
    margin:  10px 0;
    height: 85px;
    width: 80%;
    background-color: #ff00ff;
    font-size: 3em;
    line-height: 80px;
}
nav {
    background-color: #00ffff;
    height: 60px;
    width: 100%;
}
#wrapper {
    width: 50%;
    margin: auto;
}
