body{
	margin:0px;
	height:100vh;
	font-family: 'Open Sans', sans-serif;
}


#toolbar{
	height:100%;
	width:25%;
	background-color:#2ecc71;
	float:left;
	margin:0px;
	overflow:scroll;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
#iconADW{
	display: block;
	margin:auto;
}
#toolbar h1{
	text-align:center;
}
#toolbar .NOE{
	margin:0;
	border:0;
	border-bottom:solid #27ae60 2px;
	width:100%;
	padding:1%;
	background-color: Transparent;
	color: white;
	font-size:1.5em;
}
#design{
	float:right;
	width:75%;
	height:100%;
	background-color:#f3f3f3;
	margin:0px;
	overflow:scroll;
}
#lagSide{
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	background-color:#ffffff;
	margin:auto;
	margin-top:3%;
	width:70%;
}
#lagTitle{
	color:white;
	padding:1px;
	background-color:#3498db;
}
#lagNav{
	color:white;
	background-color:#5fbfef;
}
#lagMain{
	padding:10px;
}
#lagMain article{
	width:70%;
}
/*
#lagMain img{
	width:50%;
	height:20%;
}
*/
#lagMain aside{
	width:25%;
	float:right;
}

.boks {
	width:50px;
	height:50px;
	border:1px solid;
}

#borderVisualiser {
	height: 50px;
	width: 50px;
	background-color: #F3F3F3;
	margin-left: 50px;
}
#fargeEndrer {
	margin-left: 50px;

}
.collapse {
	padding: 10px 40px 10px 40px;
	background-color:#27ae60
}

/* Slideshow stuff */
.slideshow {
    height :100%;
	width: 100%;
    z-index: 5;
	padding: 0;
	margin: 0;
	position: absolute;
}
#slidshow {
    position: relative;
	display: block;
	max-width: 30%;
	max-height: 60%;
	min-width: 200px;
	min-height:200px;
	width: auto;
  	height: auto;
	margin-top: 20px;
	overflow: hidden;
}
