body{
	margin:0px;
	height:100vh;
}
#toolbar{
	height:100%;
	width:25%;
	background-color:#2ecc71;
	float:left;
	margin:0px;
	overflow:scroll;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
#design{
	float:right;
	width:75%;
	height:100%;
	background-color:#f3f3f3;
	margin:0px;
	overflow:scroll;
}
#lagSide{
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	background-color:#ffffff;
	margin:auto;
	margin-top:3%;
	width:70%;
}
#lagTitle{
	color:white;
	padding:1px;
	background-color:#3498db;
}
#lagNav{
	color:white;
	background-color:#5fbfef;
}
#lagMain{
	padding:10px;
}
#lagMain article{
	width:70%;
}
/*
#lagMain img{
	width:50%;
	height:20%;
}
*/
#lagMain aside{
	width:25%;
	float:right;
}

.boks {
	width:50px;
	height:50px;
	border:1px solid;
}

#borderVisualiser {
	height: 50px;
	width: 50px;
	background-color: #F3F3F3;
	margin-left: 50px;
}
#fargeEndrer {
	margin-left: 50px;

}

/* Slideshow stuff */
.slideshow {
    height :100%;
	width: 32.5%;
    z-index: 5;
	padding: 0;
	margin: 0;
}
#slidshow {
    position: relative;
    width: 640px;
    height: 200px;
	margin-top: 20px;
}
#placeholder {
    background-color: transparent;
	width: 33%;
    height: 100%;
    display: inline-block;
}

#makeMyMistakesDissaper1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
	background-color: white;
	height: 100%;
	width: 34%;
}
#makeMyMistakesDissaper2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10000;
	background-color: white;
	height: 100%;
    width: 33.3%;
}
